<html>
<head>
	<link href="../../static/css/style.css" rel="stylesheet">
	<meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
	<title>ЗмістПМ</title>
	<meta name="author" content="Александр Шиленко"/>
</head>

<body>
<table cellspacing="0" border="0">
	<colgroup width="50"></colgroup>
	<colgroup width="648"></colgroup>
	<colgroup span="2" width="80"></colgroup>
	<colgroup width="88"></colgroup>
	<colgroup width="90"></colgroup>
	<colgroup width="100"></colgroup>
	<colgroup width="107"></colgroup>
	<colgroup span="3" width="88"></colgroup>
	<colgroup width="99"></colgroup>
	<colgroup span="15" width="68"></colgroup>
	<colgroup width="86"></colgroup>
	<colgroup width="82"></colgroup>
	<caption>
		<font size="10">ЗМІСТ НАВЧАЛЬНОГО ПЛАНУ</font>
		</caption>
	<tr>
		<td height="65" align="right"><font face="Arial" size=5><br></font></td>
		<td align="center"><b><font face="Arial">підготовки бакалавра:<br>за напрямом</font></b></td>
		<td colspan=2 align="left" valign=middle><b><font face="Arial" size=3>113</font></b></td>
		<td colspan=3 align="left"><b><font face="Arial" size=3>Прикладна математика</font></b></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td height="63" align="right"><font face="Arial" size=5><br></font></td>
		<td align="center"><b><font face="Arial" size=3>за спеціальністю</font></b></td>
		<td colspan=2 align="left"><b><font face="Arial" size=3>113-02</font></b></td>
		<td colspan=3 align="left"><b><font face="Arial">Математичне та програмне забезпечення аерокосмічної техніки</font></b></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" rowspan=3 height="62" align="center" valign=middle><font face="Arial">№ з/п</font></td>
		<td class="myborder" rowspan=3 align="center" valign=middle><font face="Arial">Назва дисципліни</font></td>
		<td class="myborder" colspan=5 align="center" valign=middle><font face="Arial">Загальна кількість</font></td>

	</tr>
	<tr>
		<td class="myborder" rowspan=2 align="center" valign=middle><font face="Arial">Кредитів ECTS</font></td>
		<td class="myborder" rowspan=2 align="center" valign=middle><font face="Arial">Годин</font></td>
		<td class="myborder" colspan=2 align="center" valign=middle><font face="Arial">Семестри</font></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" align="center" valign=middle><font face="Arial">Екз</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial">Зал</font></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" height="22" align="center" valign=middle><b><font face="Arial" size=3>1</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>2</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>3</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>4</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>5</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>6</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>7</font></b></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>1</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл><a href="1.html">Загальна підготовка</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>64.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>1920.0</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл><br></font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font size=2><nobr>26.67%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 1</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP1.html">Історія України</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">372</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 2</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP2.html">Іноземна мова</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>240.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1,2,3</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">371</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 3</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP3.html">Українська мова</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">373</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 4</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP4.html">Філософія</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">302</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 5</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP5.html">Історія української культури</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>60.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">303</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 6</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP6.html">Основи економічної теорії</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>60.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">256</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 7</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP7.html">Екологія</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>60.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">125</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 8</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP8.html">Математичний аналіз. Частина 1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 9</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP9.html">Математичний аналіз. Частина 2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 10</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP10.html">Математичний аналіз. Частина 3</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 11</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP11.html">Алгебра та геометрія</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП 12</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP12.html">Лінійна алгебра</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr><nobr>ЗП 13</nobr></font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP13.html">Економіка та організація виробництва програмних продуктів</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">251</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle><font face="Arial" size=3><nobr>ЗП </font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ZP.html">Фізичне виховання</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>12.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>360.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1 - 6</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">305</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>2</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл><a href="2.html">Професійна підготовка</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>152.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>4560.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font size=2><nobr>63.33%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="25" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>ПП</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><a href="PP.html">Професійна підготовка за спеціальністю</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>42.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>1260.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font size=3>27.63%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 1</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP1.html">Математична логіка</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 2</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP2.html">Програмування. Ч.1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 3</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP3.html">Програмування. Ч.2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 4</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP4.html">Програмне забезпечення</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 5</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP5.html">Архітектура обчислювальних систем</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 6</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP6.html">Теорія ймовірностей</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 7</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP7.html">Чисельні методи</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 8</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP8.html">Функціональний аналіз</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 9</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP9.html">Основи професійної безпеки та здоров'я людини</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">125</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 10</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP10.html">Математична статистика</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle><font face="Arial" size=3>ПП 11</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PP11.html">Історія науки та техніки</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>60.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">344</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><nobr>ППс</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><a href="PPS.html">Професійна підготовка за спеціалізацією</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>110.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>3300.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><font face="Arial" size=3><br></font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><font face="Arial" size=3><br></font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font size=3>72.37%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 1</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS1.html">Дискретна математика</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 2</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS2.html">Диференціальні рівняння</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 3</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS3.html">Алгоритми і структури даних</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 4</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS4.html">Операційні системи</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 5</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS5.html">Теоретична механіка</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">164</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 6</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS6.html">Аналітична механіка</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 7</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS7.html">Теорія функцій комплексної змінної</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 8</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS8.html">Математичні методи комп'ютерної графіки</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 9</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS9.html">Теорія управління. Ч1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr><nobr>ППс 10</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS10.html">Теорія управління. Ч2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 11</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS11.html">Теорія пружності</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 12</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS12.html">Рівняння математичної фізики</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 13</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS13.html">Динаміка твердого тіла</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 14</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS14.html">Чисельні методи математичної фізики. Ч1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 15</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS15.html">Методи оптимізації</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 16</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS16.html">Чисельні методи математичної фізики. Ч2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 17</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS17.html">Бази даних та інформаційні системи</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 18</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS18.html">Випадкові процеси</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 19</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS19.html">Основи web-технологій</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 20</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS20.html">Дослідження операцій</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 21</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS21.html">Методи та системи штучного інтелекту</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 22</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS22.html">Програмування та підтримка web-застосувань</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 23</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS23.html">Основи механіки деформівного твердого тіла</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 24</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS24.html">Чисельні методи оптимального управління</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="24" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>3</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл><a href="3.html">Дисципліни вільного вибору студента</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>12.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл>360.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" Розподіл></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font size=2><nobr>5%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>В 1</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="B1.html">Дисципліна 1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF"></font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>В 2</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="B2.html">Дисципліна 2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF"></font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle><font face="Arial" size=3>В 3</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="B3.html">Дисципліна 3</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF"></font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=top bgcolor="#FFCC99"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="left" valign=top bgcolor="#FFCC99"><b><font face="Arial" Розподіл>Практика</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><b><font face="Arial" Розподіл>6.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><b><font face="Arial" Розподіл>180.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><b><font face="Arial" Розподіл>2.5%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=top bgcolor="#CCFFCC"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="left" valign=top bgcolor="#CCFFCC"><b><font face="Arial" Розподіл>Дипломне проектування</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><b><font face="Arial" Розподіл>3.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><b><font face="Arial" Розподіл>90.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><b><font face="Arial" Розподіл>1.25%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=top bgcolor="#CCFFFF"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="left" valign=top bgcolor="#CCFFFF"><b><font face="Arial" Розподіл>Атестація</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><b><font face="Arial" Розподіл>3.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><b><font face="Arial" Розподіл>90.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><b><font face="Arial" Розподіл>1.25%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="28" align="left" valign=top bgcolor="#FFFF99"><b><font face="Arial" Розподіл><br></font></b></td>
		<td class="myborder" align="left" valign=top bgcolor="#FFFF99"><b><font face="Arial" Розподіл>Разом </font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" Розподіл>240.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" Розподіл>7200.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" Розподіл><br></font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" Розподіл><br></font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" Розподіл><br></font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="25" align="left" valign=top><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="left" valign=top><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="center" valign=top><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top><font face="Arial" Розподіл><br></font></td>
		<td class="myborder" align="center" valign=top><font face="Arial" Розподіл><br></font></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><a href="Army.html">Військова підготовка</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>19.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>570.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><font face="Arial" size=3><br></font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><font face="Arial">5. - 8.</font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>110</font></b></td>
		
	</tr>
</table>
</body>
</html>