<html>
<head>
	<link href="../../static/css/style.css" rel="stylesheet">
	<meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
	<title>НП</title>
	<meta name="author" content="Александр Шиленко"/>
</head>
<body>
<table cellspacing="0" border="0">
	<colgroup width="50"></colgroup>
	<colgroup width="648"></colgroup>
	<colgroup span="2" width="80"></colgroup>
	<colgroup width="88"></colgroup>
	<colgroup width="90"></colgroup>
	<colgroup width="100"></colgroup>
	<colgroup width="107"></colgroup>
	<colgroup span="3" width="88"></colgroup>
	<colgroup width="99"></colgroup>
	<colgroup span="15" width="68"></colgroup>
	<colgroup width="86"></colgroup>
	<colgroup width="82"></colgroup>
	<caption>
		<font size="10">V. ПЛАН НАВЧАЛЬНОГО ПРОЦЕСУ</font>
		</caption>
	<tr>
		<td align="center" valign="middle" class="wrapBorder" rowspan=7 height="400"><font class="textvert"size=2> Шифр за ОПП</font></td>
		<td class="wrapBorder" rowspan=7 align="center" valign=center><font size=2> Назва навчальної дисципліни</font></td>
		<td class="myborder" colspan=3 align="center" valign=middle><font size=2>Розподіл за семестрами</font></td>
		<td style="vertical-align:bottom" class="myborder" rowspan=7 align="center"><font class="textvert" size=2><nobr>Кількість кредитів ЕCTS</nobr></font></td>
		<td class="myborder" colspan=6 align="center" valign=middle><font size=2>Кількість годин</font></td>
		<td class="myborder" colspan=16 align="center" valign=middle><font size=2>Розподіл аудиторних годин на тиждень та кредитів ECTS за семестрами </font></td>
		<td style="vertical-align:bottom" class="myborder" rowspan=7 align="center"><font class="textvert" size=2>Кафедра</font></td>
	</tr>
	<tr>
		<td style="vertical-align:bottom" class="myborder" rowspan=6 align="center"><font class="textvert" size=2>Екзамени</font></td>
		<td style="vertical-align:bottom" class="myborder" rowspan=6 align="center"><font class="textvert" size=2>Заліки</font></td>
		<td style="vertical-align:bottom" class="myborder" rowspan=6 align="center"><font class="textvert" size=2><nobr>Індивідуальні завдання</nobr></font></td>
		<td style="vertical-align:bottom" class="myborder" rowspan=6 align="center"><font class="textvert" size=2><nobr>Загальний обсяг</nobr></font></td>
		<td class="myborder" colspan=4 align="center" valign=middle><font size=2>Аудиторних</font></td>
		<td style="vertical-align:bottom" class="myborder" rowspan=6 align="center"><font class="textvert" size=2><nobr>Самостійна робота</nobr></font></td>
		<td class="myborder" colspan=4 align="center" valign=middle><font size=2>І курс</font></td>
		<td class="myborder" colspan=4 align="center" valign=middle><font size=2>ІІ курс</font></td>
		<td class="myborder" colspan=4 align="center" valign=middle><font size=2>ІІІ курс</font></td>
		<td class="myborder" colspan=4 align="center" valign=middle><font size=2>IV курс</font></td>
		</tr>
	<tr>
		<td style="vertical-align:bottom" class="myborder" rowspan=5 align="center"><font class="textvert" size=2>Всього</font></td>
		<td class="myborder" colspan=3 rowspan=2 align="center" valign=middle><font size=2>у тому числі</font></td>
		<td class="myborder" colspan=16 align="center" valign=top><font size=2>С е м е с т р и</font></td>
		</tr>
	<tr>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>1</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>2</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>3</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>4</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>5</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>6</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>7</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>8</font></td>
		</tr>
	<tr>
		<td style="vertical-align:bottom" class ="myborder" rowspan=3 align="center"><font class="textvert" size=2>лекції</font></td>
		<td style="vertical-align:bottom" class="myborder" rowspan=3 align="center"><font class="textvert" size=2>лабораторні</font></td>
		<td style="vertical-align:bottom" class="myborder" rowspan=3 align="center"><font class="textvert" size=2>практичні</font></td>
		<td class="myborder" colspan=16 align="center" valign=middle><font size=2>Кількість тижнів в семестрі</font></td>
		</tr>
	<tr>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>20</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>20</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>20</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>20</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>20</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>20</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>20</font></td>
		<td class="myborder" colspan=2 align="center" valign=top><font size=2>20</font></td>
		</tr>
	<tr>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Аудиторні години</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Кредити ECTS</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Аудиторні години</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Кредити ECTS</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Аудиторні години</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Кредити ECTS</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Аудиторні години</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Кредити ECTS</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Аудиторні години</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Кредити ECTS</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Аудиторні години</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Кредити ECTS</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Аудиторні години</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Кредити ECTS</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Аудиторні години</font></td>
		<td style="vertical-align:bottom" class="myborder" align="center"><font class="textvert" size=2>Кредити ECTS</font></td>
		</tr>
	<tr>
		<td class="myborder" height="30" align="center"><b><font size=2><nobr>1</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>2</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>3</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>4</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>5</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>6</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>7</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>8</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>9</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>10</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>11</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>12</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>13</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>14</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>15</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>16</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>17</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>18</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>19</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>20</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>21</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>22</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>23</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>24</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>25</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>26</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>27</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>28</font></b></td>
		<td class="myborder" align="center"><b><font size=2><nobr>29</font></b></td>
	</tr>
	<tr>
		<td class="myborder" height="41" align="left" valign=middle><font size=2>ПП 11</font></td>
		<td class="myborder" align="left" valign=top><b><font size=2><nobr>Історія науки та техніки</font></b></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2>7</font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCCCFF"><font size=2>2.0</font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCCCFF"><font size=2>60.0</font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCCCFF"><font size=2>32.0</font></td>
		<td class="myborder" align="center" valign=middle><font size=2>16.0</font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2>16.0</font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCCCFF"><font size=2>28.0</font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font size=2>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><font size=2></font></td>
		<td class="myborder" align="center" valign=middle><b><font size=2><nobr>344</font></b></td>
	</tr>
</table>
</body>
</html>