<html>
<head>
	<link href="../../static/css/style.css" rel="stylesheet">
	<meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
	<title>ЗмістКН</title>
	<meta name="author" content="Александр Шиленко"/>
</head>

<body>
<table cellspacing="0" border="0">
	<colgroup width="50"></colgroup>
	<colgroup width="648"></colgroup>
	<colgroup span="2" width="80"></colgroup>
	<colgroup width="88"></colgroup>
	<colgroup width="90"></colgroup>
	<colgroup width="100"></colgroup>
	<colgroup width="107"></colgroup>
	<colgroup span="3" width="88"></colgroup>
	<colgroup width="99"></colgroup>
	<colgroup span="15" width="68"></colgroup>
	<colgroup width="86"></colgroup>
	<colgroup width="82"></colgroup>

	<caption>
		<font size="10">ЗМІСТ НАВЧАЛЬНОГО ПЛАНУ</font>
		</caption>
	<tr>
		<td height="65" align="right"><font face="Arial" size=5><br></font></td>
		<td align="center"><b><font face="Arial" size=4>підготовки бакалавра:<br>за напрямом</font></b></td>
		<td colspan=2 align="left" valign=middle><b><font face="Arial" size=3>122</font></b></td>
		<td colspan=3 align="left"><b><font face="Arial" size=3>Комп'ютерні науки та інформаційні технології</font></b></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td height="62" align="right"><font face="Arial" size=5><br></font></td>
		<td align="center"><b><font face="Arial" size=3>за спеціальністю</font></b></td>
		<td colspan=2 align="left"><b><font face="Arial" size=3>122-06</font></b></td>
		<td colspan=3 align="left"><b><font face="Arial" size=3>Проектування, створення та аналіз комп'ютерних систем</font></b></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" rowspan=3 height="62" align="center" valign=middle><font face="Arial">№ з/п</font></td>
		<td class="myborder" rowspan=3 align="center" valign=middle><font face="Arial">Назва дисципліни</font></td>
		<td class="myborder" colspan=5 align="center" valign=middle><font face="Arial">Загальна кількість</font></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" rowspan=2 align="center" valign=middle><font face="Arial">Кредитів ECTS</font></td>
		<td class="myborder" rowspan=2 align="center" valign=middle><font face="Arial">Годин</font></td>
		<td class="myborder" colspan=2 align="center" valign=middle><font face="Arial">Семестри</font></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" align="center" valign=middle><font face="Arial">Екз</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial">Зал</font></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" height="22" align="center" valign=middle><b><font face="Arial" size=3>1</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>2</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>3</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>4</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>5</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>6</font></b></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3>7</font></b></td>
		<td align="left"><font face="Arial" size=3><br></font></td>
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>1</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4><a href="ZagPidg.html">Загальна підготовка</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>71.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>2130.0</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4><br></font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font size=2><nobr><nobr>29.58%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 1</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="IstUkr.html">Історія України</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">372</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 2</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="InozemnaMova.html">Іноземна мова</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>240.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1,2,3</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">306</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 3</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ukrmova.html">Українська мова</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">373</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 4</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="phylosophy.html">Філософія</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">302</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 5</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="IstUkrKultury.html">Історія української культури</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>60.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">303</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 6</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="Osnovy economTeorii.html">Основи економічної теорії</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>60.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">256</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 7</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="Ecology.html">Екологія</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>60.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">125</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 8</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="Matan1.html">Математичний аналіз. Ч.1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 9</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="Matan2.html">Математичний аналіз. Ч.2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 10</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="LinijnaAlgebra.html">Лінійна алгебра</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 11</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="Physics.html">Фізика</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">204</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 12</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="DiscreteMath1.html">Дискретна математика. Ч1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 13</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="DiscreteMath2.html">Дискретна математика. Ч2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 14</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="TheoryImovirnostej.html">Теорія ймовірностей</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 15</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="MathStatistics.html">Математична статистика</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ЗП 16</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="EconomicOrganizVyrobnyctvaProgramnyhProduktiv.html">Економіка та організація виробництва програмних продуктів</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">251</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle><font face="Arial" size=3>ЗП </font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PhizychneVyhovannya.html">Фізичне виховання</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>12.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>360.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1 - 6</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">305</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>2</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4><a href="ProfPidg.html">Професійна підготовка</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>145.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>4350.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font size=2><nobr><nobr>60.42%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="25" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>ПП</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><a href="ProfPidgZaSpeciality.html">Професійна підготовка за спеціальністю</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>33.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>990.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font size=3>22.76%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 1</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="ArchitectureCountingSystems.html">Архітектура обчислювальних систем</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 2</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="AlgorythmAndDataStructure.html">Алгоритми і структури даних</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 3</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="OperatingSystems.html">Операційні системи</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 4</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="DataOrganization.html">Організація баз даних</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 5</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="CrossPlatformProgramming.html">Крос-платформне програмування</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 6</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="HardSystemModeling.html">Моделювання складних систем</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 7</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="BaseOfProfessionSecurityAndHumanHealth.html">Основи професійної безпеки та здоров'я людини</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">125</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>ПП 8</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="WebTechnologiesBase.html">Основи веб-технологій</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle><font face="Arial" size=3>ПП 9</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="IstNaukiiTechniky.html">Історія науки та техніки</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>60.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">344</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><nobr>ППс</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><a href="ProofPidgotovkaZaSpeciality.html">Професійна підготовка за спеціалізацією</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>112.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>3360.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><font face="Arial" size=3><br></font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><font face="Arial" size=3><br></font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font size=3>77.24%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 1</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="Programming1.html">Програмування. Ч1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 2</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS2.html">Програмування. Ч2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>2</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 3</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS3.html">Математична логіка</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 4</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS4.html">Алгебра та геометрія</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>1</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 5</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS5.html">Об'єктно-орієнтоване програмування</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 6</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS6.html">Диференціальні рівняння</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">165</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 7</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS7.html">Системне програмування</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 8</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS8.html">Основи моделювання елементів аерокосмічних систем</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 9</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS9.html">Математичні методи комп'ютерної графіки</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 10</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS10.html">Теорія автоматичного управління</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 11</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS11.html">Методи обчислень</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 12</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS12.html">Технології програмування</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 13</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS13.html">Комп'ютерні мережі</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">161</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 14</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS14.html">Основи теорії програмування</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 15</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS15.html">Методи оптимізації</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 16</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS16.html">Програмування мобільних пристроїв</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>180.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 17</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS17.html">Системний аналіз та теорія прийняття рішень</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 18</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS18.html">Проектування програмних систем</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 19</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS19.html">Теорія інформації</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>150.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 20</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS20.html">Програмування та підтримка веб-застосувань</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 21</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS21.html">Дослідження операцій</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 22</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS22.html">Паралельні та розподілені обчислення</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 23</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS23.html">Методи та системи штучного інтелекту</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle><font face="Arial" size=3><nobr>ППс 24</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="PPS24.html">Тестування програмних систем</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>3.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>90.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>8</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF">162</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="24" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>3</font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4><a href="DisciplesFreeChoose.html">Дисципліни вільного вибору студента</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>12.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4>360.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font face="Arial" size=4></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#FFFF99"><b><font size=2><nobr><nobr>5%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>В 1</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="B1.html">Дисципліна 1</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>5</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF"></font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="21" align="left" valign=middle><font face="Arial" size=3>В 2</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="B2.html">Дисципліна 2</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>6</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF"></font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle><font face="Arial" size=3>В 3</font></td>
		<td class="myborder" align="left" valign=middle><b><font face="Arial" size=3><a href="B3.html">Дисципліна 3</a></font></b></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>4.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>120.0</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3>7</font></td>
		<td class="myborder" align="center" valign=middle><font face="Arial" size=3></font></td>
		<td class="myborder" align="center" valign=middle><b><font face="Arial" size=3 color="#0000FF"></font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=top bgcolor="#FFCC99"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="left" valign=top bgcolor="#FFCC99"><b><font face="Arial" size=4>Практика</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><b><font face="Arial" size=4>6.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><b><font face="Arial" size=4>180.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFCC99"><b><font face="Arial" size=4>2.5%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=top bgcolor="#CCFFCC"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="left" valign=top bgcolor="#CCFFCC"><b><font face="Arial" size=4>Дипломне проектування</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><b><font face="Arial" size=4>3.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><b><font face="Arial" size=4>90.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFCC"><b><font face="Arial" size=4>1.25%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="26" align="left" valign=top bgcolor="#CCFFFF"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="left" valign=top bgcolor="#CCFFFF"><b><font face="Arial" size=4>Атестація</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><b><font face="Arial" size=4>3.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><b><font face="Arial" size=4>90.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top bgcolor="#CCFFFF"><b><font face="Arial" size=4>1.25%</font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="28" align="left" valign=top bgcolor="#FFFF99"><b><font face="Arial" size=4><br></font></b></td>
		<td class="myborder" align="left" valign=top bgcolor="#FFFF99"><b><font face="Arial" size=4>Разом </font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" size=4>240.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" size=4>7200.0</font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" size=4><br></font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" size=4><br></font></b></td>
		<td class="myborder" align="center" valign=top bgcolor="#FFFF99"><b><font face="Arial" size=4><br></font></b></td>
		
	</tr>
	<tr>
		<td class="myborder" height="25" align="left" valign=top><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="left" valign=top><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="center" valign=top><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top><font face="Arial" size=4><br></font></td>
		<td class="myborder" align="center" valign=top><font face="Arial" size=4><br></font></td>
		
	</tr>
	<tr>
		<td class="myborder" height="22" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><br></font></b></td>
		<td class="myborder" align="left" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3><a href="Army.html">Військова підготовка</a></font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>19.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>570.0</font></b></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><font face="Arial" size=3><br></font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><font face="Arial">5. - 8.</font></td>
		<td class="myborder" align="center" valign=middle bgcolor="#CCFFFF"><b><font face="Arial" size=3>110</font></b></td>
		
	</tr>
</table>
</body>
</html>