<!DOCTYPE html>
	<head>
			<link href="../static/css/styleMenu.css" rel="stylesheet">
			<link href="../static/css/style.css" rel="stylesheet">
			<meta charset="windows-1251">
			<title> СПУ </title>
			<Meta name="Author" content="Шиленко Александр">
			<link rel="shortcut icon" href="../static/images/logo.jpg" type="image/jpg">
	</head>
	<body >
	<table width="100%">
<tr>
<td align="left"><a href = "index.html"><img src="../static/images/logo.jpg" width=auto height=auto alt="Logo"></a><td>
<td>
<td>
<td align="center"></td>
<td align="right"><a href="index.html"><img src="../static/images/UA.png" 
  width="30" height="20" alt="smth"></a>
  <a href="locale/en/index.html"><img src="../static/images/USA.png" 
  width="30" height="20" alt="smth"></a>
      <a href="locale/ru/index.html"><img src="../static/images/RU.png" 
  width="30" height="20" alt="smth"></a></td>
</tr>
</table >
<p align="center"><font color="#00BFFF" align="center" size=6>Оберіть спеціальність:</font></p>
<table width="100%"> 
<p style="text-align: center;"><button style="width: 10em;  height: 5em;"><a href="ComputerScience/ContentCS.html">	Комп'ютерні науки та інформаційні технології</a></button></p>
<p style="text-align: center;"><button style="width: 10em;  height: 4em;"><a href="AppliedMathematics/ContentAM.html">Прикладна математика</a></button></p>
</table>
<p align="center"><font color="#00BFFF" align="center" size=6>Фотогалерея:</font></p>
<div id="gall">
<img src="../static/images/im0.jpg" tabindex="0" border="3"/>	
<img src="../static/images/im1.jpg" tabindex="0" border="3"/>		
<img src="../static/images/im2.jpg" tabindex="0" border="3"/>	
<img src="../static/images/im4.jpg" tabindex="0" border="3" />
<img src="../static/images/im5.jpg" tabindex="0" border="3"/>	
<img src="../static/images/im6.jpg" tabindex="0" border="3"/>	
<img src="../static/images/im7.jpg" tabindex="0" border="3"/>
<img src="../static/images/im8.jpg" tabindex="0" border="3"/>
<div></div>
</div>


<footer>
	  <p >
</p>
	  <p>
</p>
</footer>
	</body>
</html>
